:root{
    --sky-blue:#46A3FF;
    --dark-color:#3C3C3C;
    --skin-color:#FFD1A4;
    --dark-blue:#005AB5;
}

*{
    margin: 0;
    padding: 0;
}
.container h1{
text-align: center;
}
body{
    background-color:var(--dark-color) ;
    color: var(--skin-color);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.donwload{
    max-width: 600px;
    min-width: 300px;
    width: 70%;
}

td{
    border: 1px double var(--sky-blue);
    text-align: center;
    font-size: 20px;
    padding: 5px 0;
}
.data a{
    padding: 5px;
    color: var(--sky-blue);
    text-decoration: none;
    border-radius: 15px;
}
.data a:hover{
    text-decoration: underline;
}

.name{
  
 max-width:70px;
    overflow: hidden;
    white-space: nowrap;
   text-overflow: ellipsis;
}
.type{
    color:white;
}
.size{
    color: red;
}
@media screen and (max-width:500px) {
    .donwload{
        width: 100%;
       
    }
    td{
     font-size: 16px;       
    }
}

